/* Kristen Vincent's D3 coordinated viz style.css */

.map {
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
	background-color: #FFCFDE;
	border: medium solid #999;
	margin: 10px;
	height: 530px;
}

.numbers {
	font-family: 'Ubuntu', sans-serif;

}

.chartTitle {
	font-family: 'Ubuntu', sans-serif;
	width: 600px;
	font-weight: bold;
	font-size: 20px;
	font-color: white;
	background-color: #FFCFDE;
}

.chart {
	float: right;
	margin: 7px 20px 0 0;
	position: absolute;
	background-color: #FFCFDE;
	border: medium solid #999;
	float: right;
	margin: 0px;
	padding: 1px;
	padding-left: 3px;
	padding-top: 3px;
}

.chartBackground {
    color: pink;
}

.chartFrame {
	fill: pink;
	stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Ubuntu', sans-serif;;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
	position: absolute;
	top: 102px;
	left: 25px;
	z-index: 10;
	font-size: 1em;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px #999;
	margin-top: 4px;
}

option {
	font-weight: normal;
}


#chartContainer {
	height: 500px;
	width: 689px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;

	
}

#title {
	height: 51px;
	width: 685px;
	border-width: 2px;
	border: medium solid #999;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 1px;
	font-family: 'Ubuntu', sans-serif;
}

#chartBottles {
	height: 200px;
		
}

#notes {
	background-color: #FFCFDE;
	height: 40px;
	width: 685px;
	border-width: 2px;
	border: medium solid #999;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	transform: translate(0px, 206px);
	font-size: 16px;
	color: #444344;

}

.header {
	color: white;
	background-color: black;
	padding-top: 1px;
	padding-bottom: 10px;	
	height: 65px;
	margin: 1px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	border: medium solid #999
}

#cow1 {	
  float: left;
  width: 100px;
  height: 70px;
  margin: 0px;
  padding: 2px;
}

#cow2 {
  float: right;
  width: 100px;
  height: 70px;
  margin: 0px;
  padding: 2px;
}

.header h1 {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  padding-top: 1px;
  margin-top: 1px;
  margin-bottom: 1px;  
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	margin-top: 1px;
	margin-bottom: 1px;
}


.infolabel {
	font-family: 'Ubuntu', sans-serif;
    position: absolute;
    height: 30px;
    min-width: 100px;
    color: white;
    background-color: black;
    border: solid thin white;
    padding: 5px 5px;
    padding-bottom: 1px;
    top: -75px;
    font-size: 16px;
}

.infolabel h1 {
	font-family: 'Ubuntu', sans-serif;
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-size: 18px;
    margin-bottom: 1px;
    
    
}

